@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Boldonse&family=Cal+Sans&family=Jersey+15&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&family=Special+Gothic+Condensed+One&family=Tagesschrift&family=Yellowtail&display=swap');
:root{
    --cor1: #111;
    --cor2: #ffffff;
    --cor3: #ff0000;
    --cor4: #8b0000;
    --font: "Big Shoulders", "Arial", "Helvética", "sans-serif";
}
body {
    font-family: var(--font);
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor2);
}
.container {
    margin-top: 50px;
}
.timer {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bomb {
    font-size: 100px;
}
.containerAlinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.containerPassword > input[type="number"]{
    font-family: var(--font);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: auto;
}
.containerPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
    font-size: 20px;
}
@media(max-width: 768px) {
    .containerAlinhamento{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.btn {
    background-color: var(--cor3);
    color: var(--cor2);
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    font-family: var(--font);
}
.btn:hover {
    background-color: var(--cor4);
}