@charset "UTF-8";
body{
    background-color: rgb(68, 113, 236);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 80px;
    text-shadow: 1px 2px black;
}
input{
    border-radius: 10px 0px 10px 10px;
    height: 3vh;
    cursor: pointer;
    margin-bottom: 20px;
}
label{
    color: #000000;
}
form{
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
    margin: auto;
}
section{
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px 0px 10px 10px;
    width: 50%;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.671);
}
label input{
    display: inline-block;
}
p{
    color: #000000;
    text-align: left;
}
button{
    background-color: blue;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.76);
    padding: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 2s;
}
button:hover{
    background-color: #57cdfc81;
}

